.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.profileImage {
  border-radius: 50%;
  width: 100%;
}

.signIn {
  background-color: #28a745;
  color: #fff;
  float: right;
  margin: 1.5rem;
  padding: 1rem;
}
